body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
  box-sizing: border-box;
}

.nav-links a {
  color: blue;
  text-decoration: underline;
  white-space: nowrap;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: none;
}

.header {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 3.8rem;
  text-align: center;
  line-height: 1;
  transform: scaleY(2.1);
  margin-top: 13vh;
  position: relative;
}

.selected-works-header {
  transform: translateY(-7px);
}

.sub-header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: ghostwhite;
  text-align: right;
  transform: scaleY(1.2);
  margin-top: 1px;
  font-weight: normal;
  position: absolute;
  right: 35%;
}

.bio {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  line-height: 1.6;
  text-align: justify;
  margin: 150px auto 0 auto;
  max-width: 50%;
  padding: 30px 0;
  color: white;
}

.image-container {
  position: relative;
}

.popup-wrapper {
  position: absolute;
  width: 235px;
}

.popup-wrapper.left {
  left: 20px;
  top: 0;
}

.popup-wrapper.right {
  right: 20px;
  top: 0;
}

.popup-image {
  width: 100%;
}

.close-link {
  display: block;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: blue;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.vara1-container {
  position: relative;
  width: 100%;
  margin-top: 200px;
}

.vara1-image {
  width: 100%;
  height: auto;
}

.vara1-header {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: -7px;
  transform: scaleX(3);
  text-align: center;
  margin-top: 50px;
}

.vara1-description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  color: white;
  text-align: center;
  max-width: 80%;
  margin: 20px auto 50px auto;
  line-height: 1.6;
}

.log1-container {
  position: relative;
  width: 100%;
  margin-top: 300px;
}

.log1-image {
  width: 100%;
  height: auto;
}

.log1-header {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: -6px;
  transform: scaleX(3);
  text-align: center;
  margin-top: 50px;
}

.log1-description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  color: white;
  text-align: center;
  max-width: 80%;
  margin: 20px auto 50px auto;
  line-height: 1.6;
}
